name: PR Post Merge Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: E2E Tests
        uses: ./.github/actions/run-e2e-tests
        env:
          SERVER: ${{ secrets.E2E_TEST_SERVER }}
          SITE_NAME: ${{ secrets.E2E_TEST_SITE_NAME }}
          AUTH: ${{ secrets.E2E_TEST_AUTH }}
          JWT_SUB_CLAIM: ${{ secrets.E2E_TEST_JWT_SUB_CLAIM }}
          CONNECTED_APP_CLIENT_ID: ${{ secrets.E2E_TEST_CONNECTED_APP_CLIENT_ID }}
          CONNECTED_APP_SECRET_ID: ${{ secrets.E2E_TEST_CONNECTED_APP_SECRET_ID }}
          CONNECTED_APP_SECRET_VALUE: ${{ secrets.E2E_TEST_CONNECTED_APP_SECRET_VALUE }}

      - name: OAuth Tests
        uses: ./.github/actions/run-oauth-tests
        env:
          SERVER: ${{ secrets.E2E_TEST_SERVER }}
          SITE_NAME: ${{ secrets.E2E_TEST_SITE_NAME }}
          OAUTH_JWE_PRIVATE_KEY: ${{ secrets.OAUTH_TEST_OAUTH_JWE_PRIVATE_KEY }}
          OAUTH_JWE_PRIVATE_KEY_PASSPHRASE: ${{ secrets.OAUTH_TEST_OAUTH_JWE_PRIVATE_KEY_PASSPHRASE }}
